<html>
<head>
<link rel="stylesheet" href="popup.css">

</head>
<body>
<div id="main">

<div id="course_info">

	<div id="course_title">
		<span id="course_code">{{course_code}}</span> <span id="course_units"> ({{num_units}})</span>
		<br>
		<span id="course_name">{{course_name}}</span>
	</div>
	<div id="course_descrip">
	<span class="title">Description:</span>
	<br>
	{{course_descrip}}
	</div>
	<div id="course_prereqs">
	<span class="title"> Pre-Reqs:</span>
	<br>
	{{prereqs}}
	</div>

</div>

</body>
</html>


