@import url('https://fonts.googleapis.com/css?family=Overpass|Roboto:900|Source+Sans+Pro:700');

.jumbotron {
 width: 98.9%;
 align-items: center;
 text-shadow: 0.25px 0.25px 0.25px #000000;
 color: white !important;
 /*If we want to use an image
 background-size: cover; */
}

.jumbotron h1 {
 font-family: 'Roboto', sans-serif;
}

.jumbotron h2, h3, h4 {
 font-family: 'Overpass', sans-serif;
}

#step1 {
  background-color: #1976D2;
  height: 600px;
  text-align: center;
  position: relative;
}
#step2 {
  background-color: #2196F3;
  height: 600px;
  text-align: center;
  position: relative;
}
#step3 {
  background-color: #BBDEFB;
  height: 600px;
  text-align: center;
  position: relative;
}

#inner1 {
	width: auto;
	height: auto;
    margin: 10% 40%;
    padding: 20px;
    position: absolute;
}
#inner2 {
	width: auto;
	height: auto;
    margin: 9% 40%;
    padding: 20px;
    position: absolute;
}
#inner3 {
	width: auto;
	height: auto;
    margin: 10% 40%;
    padding: 20px;
    position: absolute;
}