@import url('https://fonts.googleapis.com/css?family=Overpass|Roboto:900|Source+Sans+Pro:700');

#jumbotron {
 display: flex;
 align-items: center;
 height: 900px;
 text-shadow: 0.25px 0.25px 0.25px #000000;
 color: white;
 /*If we want to use an image
 background-size: cover; */
}

#jumbotron h1 {
 font-family: 'Roboto', sans-serif;
 color:white;
}

#jumbotron h2 {
 font-family: 'Overpass', sans-serif;
}
